/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
  bottom: 0; 
/*TODO*/
}

#wrapper {
    position: relative;
    left: 0;
    top: 0;
    vertical-align: middle;
    width: 100%;
}

#wrapper section {
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: table;
}

/*#wrapper section div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}*/

#wrapper h1 {
    position: relative;
    margin: 5%;
    left: 10%;
}

#welcome {
    background: url("../images/ian-schneider-91717.jpg");
}

#welcome a {
    position: absolute;
    left: 10%;
    top: 5%;
}

#offer h2 {
    position: relative;
    margin: 5%;
    left: 10%;
}

#offer a {
    position: relative;
    margin: 5%;
    left: 20%;
    display: table
}

#gallerycontainer {
    position: relative;
    left: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.imggallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

.imggallery:hover {
    border: 1px solid #777;
}

.imggallery img {
    width: 100%;
    height: auto;
}

#contactdata{
    position: relative;
    margin: 5%;
    left: 20%;
    display: table
}

#contactdata h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contactdata h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links {
    position: relative;
    left: 25%;
}

#orderform {
    position: relative;
    margin: 5%;
    left: 20%;
    display: table
}

#orderform img {
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mirrorselector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
}

.rustic {
    background-image: url("../images/mirrors/rustic/lustro-w-drewnianej-ramie-2931.jpg");
}

.standardsmooth {
    background-image: url("../images/mirrors/standardsmooth/Zrzut-ekranu-2019-10-5-o-14.48.00-1-300x199.jpg");
}

.mirrorselector input:active + .mirrorchoice {
    opacity: .9;
}

.mirrorselector input:checked + .mirrorchoice {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.mirrorchoice {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.mirrorchoice:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}